node_modules
.DS_Store
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.shirk
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.*
backend/data/
.tmp
.temp
/MissionPlanner-master
微信图片_20260130183916_86.jpg
/dji_way_line_副本
node_modules/
dist/
changes.diff
current_mission_lib.txt
find_res.txt
fix.js
fix_tags.cjs
fix_zoom.cjs
fix_zoom.js
result.txt
results.txt
search.txt
vite-local-test.log
司空2航线模版/
测试文件夹/
